*.la
*.o
*.lo
.deps
.libs
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
test-driver
compile
config.rpath
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*.m4
!m4/glibtests.m4
!m4/attributes.m4
missing
stamp-h1
config.h.in
stamp-*
gtk-doc.make
flatpak
flatpak-*.tar.xz
flatpak-session-helper
xdg-document-portal
xdg-permission-store
flatpak-builder
testdb
doc/*.1
*~
profile/flatpak.sh
flatpak-dbus.[ch]
flatpak-systemd-dbus.[ch]
flatpak-resources.[ch]
flatpak-dbus-proxy
permission-store-dbus.[ch]
flatpak-system-helper
xdg-desktop-portal
*.service
flatpak.conf
flatpak.env
flatpak.sh
document-portal/xdp-dbus.[ch]
document-portal/xdp-resources.[ch]
.dirstamp
test-suite*.log
lib/flatpak-version-macros.h
flatpak.pc
lib/flatpak-enum-types.c
lib/flatpak-enum-types.h
test-libflatpak
Flatpak-1.0.*
/doc/reference/gtkdoc-check.log
/doc/reference/gtkdoc-check.test
/doc/reference/gtkdoc-check.trs
/doc/reference/version.xml
/doc/flatpak-docs.html
/doc/flatpak-docs.xml
/doc/flatpak-metadata.5
/doc/flatpak-flatpakrepo.5
/doc/flatpak-flatpakref.5
/test-doc-portal
/test-doc-portal.log
/test-doc-portal.trs
/testdb.log
/testdb.trs
/tests/test-keyring/.gpg-v21-migrated
/tests/test-keyring/private-keys-v1.d/
/tests/test-keyring/trustdb.gpg
/tests/hello*.flatpak
/tests/platform*.flatpak
/tests/repo
/tests/package_version.txt
*.test
/tests/*.sh.log
/tests/*.sh.test
/tests/*.sh.trs
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/Flatpak.pot
po/Makevars.template
po/Rules-quot
po/flatpak.pot
po/*.gmo
po/*.sed
po/*.header
po/*.sin
system-helper/org.freedesktop.Flatpak.policy
system-helper/org.freedesktop.Flatpak.rules
flatpak-bwrap
py-compile
