[submodule "libglnx"]
	path = libglnx
	url = https://gitlab.gnome.org/GNOME/libglnx.git
[submodule "bubblewrap"]
	path = bubblewrap
	url = https://github.com/projectatomic/bubblewrap.git
	ignore = dirty
[submodule "dbus-proxy"]
	path = dbus-proxy
	url = https://github.com/flatpak/xdg-dbus-proxy.git
	branch = master
