*.la
*.o
*.lo
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
test-driver
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
config.h.in
stamp-*
xdg-app
xdg-app-helper
xdg-app-session-helper
xdg-document-portal
xdg-app-builder
testdb
doc/*.1
*~
profile/xdg-app.sh
xdg-app-dbus.[ch]
xdg-app-systemd-dbus.[ch]
xdg-app-resources.[ch]
xdg-dbus-proxy
*.service
xdg-app.env
xdg-app.sh
document-portal/xdp-dbus.[ch]
document-portal/xdp-resources.[ch]
.dirstamp
test-suite*.log
