[submodule "libglnx"]
	path = subprojects/libglnx
	url = https://github.com/GNOME/libglnx.git
[submodule "bubblewrap"]
	path = subprojects/bubblewrap
	url = https://github.com/containers/bubblewrap.git
	ignore = dirty
	branch = main
[submodule "dbus-proxy"]
	path = subprojects/dbus-proxy
	url = https://github.com/flatpak/xdg-dbus-proxy.git
	branch = main
[submodule "variant-schema-compiler"]
	path = subprojects/variant-schema-compiler
	url = https://github.com/smcv/variant-schema-compiler.git
