*.la
*.o
*.lo
.deps
.libs
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
test-driver
compile
config.rpath
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*.m4
!m4/glibtests.m4
!m4/attributes.m4
missing
stamp-h1
config.h.in
stamp-*
gtk-doc.make
flatpak
flatpak-*.tar.xz
flatpak-session-helper
flatpak-portal
flatpak-validate-icon
flatpak-oci-authenticator
*~
profile/flatpak.sh
*-dbus-generated.[ch]
flatpak-variant-private.h
flatpak-variant-impl-private.h
flatpak-resources.[ch]
flatpak-permission-dbus.[ch]
flatpak-portal-dbus.[ch]
flatpak-dbus-proxy
permission-store-dbus.[ch]
flatpak-system-helper
xdg-desktop-portal
oci-authenticator/*.service
portal/*.service
session-helper/*.service
system-helper/*.service
tests/*.service
flatpak.conf
flatpak.env
flatpak.sh
document-portal/xdp-dbus.[ch]
document-portal/xdp-resources.[ch]
.dirstamp
test-suite*.log
common/flatpak-version-macros.h
flatpak.pc
common/flatpak-enum-types.c
common/flatpak-enum-types.h
test-libflatpak
httpcache
revokefs-fuse
revokefs-demo
Flatpak-1.0.*
/app/parse-datetime.c
/doc/reference/gtkdoc-check.log
/doc/reference/gtkdoc-check.test
/doc/reference/gtkdoc-check.trs
/doc/reference/libflatpak-docs.html
/doc/reference/version.xml
/doc/flatpak-docs.html
/doc/flatpak-docs.xml
/doc/*.1
/doc/*.5
/tags
/test-libglnx-errors
/test-libglnx-errors.log
/test-libglnx-errors.trs
/test-libglnx-fdio
/test-libglnx-fdio.log
/test-libglnx-fdio.trs
/test-libglnx-macros
/test-libglnx-macros.log
/test-libglnx-macros.trs
/test-libglnx-shutil
/test-libglnx-shutil.log
/test-libglnx-shutil.trs
/test-libglnx-xattrs
/test-libglnx-xattrs.log
/test-libglnx-xattrs.trs
/testlibrary
/testlibrary.log
/testlibrary.trs
/testcommon
/testcommon.log
/testcommon.trs
/tests/test-keyring/.gpg-v21-migrated
/tests/test-keyring/private-keys-v1.d/
/tests/test-keyring/trustdb.gpg
/tests/test-keyring2/.gpg-v21-migrated
/tests/test-keyring2/private-keys-v1.d/
/tests/test-keyring2/trustdb.gpg
/tests/hello*.flatpak
/tests/platform*.flatpak
/tests/repo
/tests/runtime-repo
/tests/package_version.txt
/tests/test-authenticator
/tests/test-update-portal
/tests/test-portal-impl
*.test
/tests/*.sh.log
/tests/*.sh.test
/tests/*.sh.trs
/tests/*.wrap.log
/tests/*.wrap.test
/tests/*.wrap.trs
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/Flatpak.pot
po/Makevars.template
po/Rules-quot
po/flatpak.pot
po/*.gmo
po/*.sed
po/*.header
po/*.sin
system-helper/org.freedesktop.Flatpak.policy
system-helper/org.freedesktop.Flatpak.rules
flatpak-bwrap
py-compile
