html/
xml/
*.stamp
*.bak
/dbus-*.xml
/flatpak.actions
flatpak-decl-list.txt
flatpak-decl.txt
flatpak-overrides.txt
flatpak-scan.c
flatpak-undeclared.txt
flatpak-undocumented.txt
flatpak-unused.txt
flatpak.args
flatpak.hierarchy
flatpak.interfaces
flatpak.prerequisites
flatpak.signals
flatpak.types
